.card_due_date, .card_assigned_to, .card_completed, .card_pending{
    top:50%;
    font-size: 18px !important;
}

.card_completed {
    color: green;
}

.card_pending {
    color: red;
}

.todo_list_link:hover{
    background-color: yellow;
}

.trash {
    margin-right: 40px;
    font-size: 40px;
}

.list_page_title {
    font-size: 30px;
    padding:20px
}

.modal-footer {
  display:none
}

.disable {
  background-color: grey !important;
}

.trash:hover {
color: var(--swatch-accent);
background-color: #f6e58d;
cursor: pointer;
}
.item:hover, .list:hover {
  background-color: #f6e58d !important;
}
.fixed-action-btn {
    position: absolute;
    right: 5%;
}


.btn {
  margin-left: 20px
}

